* {
    padding: 0;
    margin: 0;
    font-family: 'Sulphur Point';
}

.card:hover {
    cursor: pointer;
}

.line {
    height: 2px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.281);
    border: 2px;
}

.back-ground {
    background-color: rgb(39, 39, 39);
    height: 100vh;
}

#selection {
    max-height: 560px;
    overflow: hidden;
    overflow-y: scroll ;
}

#orderlist {
    max-height: 50vh;
    overflow: hidden;
    overflow-y: scroll ;
}

#noitems {
   visibility:  ;
}